<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.KuangchangxinxiMapper">
  <resultMap id="BaseResultMap" type="com.entity.Kuangchangxinxi">
    <id column="id" jdbcType="INTEGER" property="id" />
	<result column="kuangchangmingcheng" jdbcType="VARCHAR" property="kuangchangmingcheng" />    
    <result column="addtime" jdbcType="VARCHAR" property="addtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, kuangchangmingcheng, addtime
  </sql>
  <select id="quchongKuangchangxinxi"  parameterType="java.util.Map" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from kuangchangxinxi 
    where kuangchangmingcheng = #{kuangchangmingcheng,jdbcType=VARCHAR} limit 0,1
  </select>
 <select id="getCount"   resultType="int" parameterType="java.util.Map" >
    select  count(*) from kuangchangxinxi  where 1=1
    <if test="kuangchangmingcheng!=null">and kuangchangmingcheng like  concat('%',#{kuangchangmingcheng,jdbcType=VARCHAR},'%')</if>     
  </select> 
  <select id="getAll"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from kuangchangxinxi  where 1=1
    <if test="kuangchangmingcheng!=null">
    and kuangchangmingcheng =#{kuangchangmingcheng}
    </if>
  </select>
  
  <select id="getsykuangchangxinxi1"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from kuangchangxinxi  where 1=1
    limit 0,5
  </select>
  <select id="getsykuangchangxinxi2"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from kuangchangxinxi  where 1=1
    limit 0,5
  </select>
  <select id="getsykuangchangxinxi3"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from kuangchangxinxi  where 1=1
    limit 0,5
  </select>
  
   <select id="getByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
     select  <include refid="Base_Column_List" /> 
     from kuangchangxinxi where 1=1 
     <if test="kuangchangmingcheng!=null">and kuangchangmingcheng like  concat('%',#{kuangchangmingcheng,jdbcType=VARCHAR},'%')</if>     
	 order by id desc
     <if test="pageno!=null and pageSize!=null">
     limit #{pageno},#{pageSize}
     </if>
     </select>
	 
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from kuangchangxinxi
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from kuangchangxinxi
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Kuangchangxinxi">
    insert into kuangchangxinxi (id, kuangchangmingcheng, addtime)
    values (#{id,jdbcType=INTEGER}, #{kuangchangmingcheng,jdbcType=VARCHAR}, #{addtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Kuangchangxinxi">
    insert into kuangchangxinxi
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="kuangchangmingcheng != null"> kuangchangmingcheng, </if>      
      <if test="addtime != null">
        addtime,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="kuangchangmingcheng != null"> #{kuangchangmingcheng,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        #{addtime,jdbcType=VARCHAR},
      </if>
      
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Kuangchangxinxi">
    update kuangchangxinxi
    <set>
	  <if test="kuangchangmingcheng != null"> kuangchangmingcheng = #{kuangchangmingcheng,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  
  <update id="updateByPrimaryKey" parameterType="com.entity.Kuangchangxinxi">
    update kuangchangxinxi
    set kuangchangmingcheng = #{kuangchangmingcheng,jdbcType=VARCHAR},  addtime = #{addtime,jdbcType=VARCHAR} where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
